body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
}
#rowHead{
    text-align: left;
}
#rowgal{
    color: black;
    text-align: center;
}
#rowgal h1{
    color: rgb(52, 52, 52);
}
#rowgal h4{
    color: rgb(126, 126, 126);
}
.card img{
    max-width: 413;
    max-height: 271;
}
footer{
    background-color: rgb(26, 26, 26);
    color: white;
    text-align: left;
}
.card{
    min-height: 450;
}
footer h6{
    color: rgb(195, 195, 195);
}